[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
	branch = master
	ignore = dirty

[submodule "stlink"]
	path = stlink
	url = https://github.com/ve3wwg/stlink.git
	ignore = dirty

[submodule "rtos/FreeRTOS-LTS"]
	path = rtos/FreeRTOS-LTS
	url = https://github.com/FreeRTOS/FreeRTOS-LTS.git
	branch = 202012-LTS
	ignore = dirty
